h1, p {
  text-align: center;
  color: lightblue
}

form {
  display: flex;
  justify-content: center;
}



.container {
  padding: 0 1rem;
}

.submitButton-addToDo {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
}

.submitButton-addToDo:hover {
  background: rgb(119, 110, 110);
}

.bottomMenu {
  display: flex;
  padding: 50px;
  background-color: #5282ca;
  height: 20px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
}

.bodyPortion {
  margin: auto;
  width: 75%;
}