html {
  display: flex;
  justify-content: center;
  height: 100%;
}

.everything {
  height: fit-content;
}

h1, p {
  text-align: center;
  color: lightblue
}

#todoCheckbox {
  float: left;
  margin-right: 10px;
}

#todoTitle {
  text-align: left;
  padding-left: 10px;
}


#editButton {
  position: right;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  background: #6c8dbe;
  color: #001;
  border: 1px white double;
  padding-left: 6px;
  padding-right: 6px;
}

#addTextho {
  text-align: start;
  color: black;
}

.dashboard-assignment {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}


.container {
  padding: 0 1rem ;
}


.submitButton-addToDo:hover {
  background: rgb(119, 110, 110);
}

.bottomMenu {
  display: flex;
  padding: 50px;
  background-color: #5282ca;
  height: 20px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.bodyPortion {
  margin: auto;
  width: 75%;
}